* {
	box-sizing: border-box;
}
body{
	font-family: 'Open Sans', sans-serif;
}
a {
	text-decoration: none;
}
li {
	list-style: none;
}
.header {
	position: fixed;
	z-index: 2;
	width: 100%;
	background-color:#D9D9CD;
	height: 100px;
	top: 0;
	left: 0;
}
.container {
	max-width: 1240px;
	padding: 0 20px;
	margin: 0 auto;
	overflow: hidden;
}
.header-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header-logo a img {
	max-width:320px;
}
.header-list{
	display: flex;
	
}
.header-list li a{
	margin-right: 30px;
	font-size: 18px;
	color: black;
	text-transform: uppercase;
}
.header-list li:hover {
	transition: all .5s;
}
.header-list li a:hover{
	color: #fff;
}
.login{
	font-weight: 600;
	text-transform: uppercase;
	color: #fff;
	background-color:#FEBD39;
	opacity: 0.6;
	padding: 8px 43px;
	border-radius: 5px;
}
.login:hover{
	opacity: 1;
	transition: all .5s;
}
/*бургер меню*/
.burger-menu {
	display: none;
	cursor: pointer;
}
.bar1, .bar2, .bar3 {
	width: 35px;
	height: 5px;
	background-color: #333;
	margin: 6px 0;
	transition: 0.4s;
}
.change .bar1 {
	-webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
	transform: rotate(-45deg) translate(-9px, 6px) ;
}
.change .bar2 {
	opacity: 0;
}
.change .bar3 {
	-webkit-transform: rotate(45deg) translate(-8px, -8px) ;
	transform: rotate(45deg) translate(-8px, -8px) ;
}
/*хлебные крошки*/
.breadcrumbs {
	display: inline-block;
	margin: 120px auto 0;
	counter-reset: flag;
	color: black;
	box-shadow: 0 0 2px #aaa;
	left: auto;
	right: auto;
	outline: none;
}
.breadcrumbs a {
	position: relative;
	float: left;
	padding-left: 60px;
	padding-right: 10px;
	text-decoration: none;
	line-height: 36px;
	color: black;
	background: white;
	transition: all 0.5s;
}
.breadcrumbs a::after {
	content: '';
	position: absolute;
	top: 0;
	right: -18px;
	z-index: 1;
	width: 36px;
	height: 36px;
	background: white;
	box-shadow: 1px 1px 0 1px #ddd;
	border-radius: 50px 0 0 0;
	transform: rotate(-45deg) scale(0.73);
	transition: all 0.5s;
	text-align: center;
}
.breadcrumbs a:hover,
.breadcrumbs a:hover::after,
.breadcrumbs a.active,
.breadcrumbs a.active::after{
	background: #f1c40f;
}
.breadcrumbs a::before {
	content: counter(flag);
	counter-increment: flag;
	position: absolute;
	top: 8px;
	left: 30px;
	line-height: 20px;
	box-shadow: 0 0 2px #ccc;
	width: 20px; background-color: white;
	border-radius: 50%;
	text-align: center;
}
.breadcrumbs a:first-child {
	padding-left: 46px;
}
.breadcrumbs a:first-child::before {
	left: 14px;
}
/*начало основного блока*/
.main {
	padding: 50px 0;
	margin-top: 100px;	
}
.main-list li a:hover {
	color: red;
}
.main-content {
	display: flex;
	justify-content: space-between;
}
.main__tittle{
	max-width: 420px;
	text-align: center;
	padding: 10px;
}
.main__tittle h1 {
	font-size: 46px;
	color: black;
	display: block;
	margin-bottom: 40px;
	text-align: center;
}
.main__tittle h2 {
	font-size: 36px;
	padding-bottom: 45px;
}
.contacts {
	width: 100%;
	height: 100px;
	background:#DDDDDD ;
	padding: 20px;
	display: flex;
	align-items: center;
	border-radius: 5px;
}
.contact-form {
	max-width: 800px;
	position: relative;
	display: flex;
	justify-content: center;
}
.contact-form input {
	width: 500px;
	height: 60px;
	border-width: 2px 0 2px 2px;
	border-radius: 5px;
	outline: none;
	padding: 10px;
}
.contact-form button {
	width: 70px;
	height: 60px;
	border-width: 0px;
	border-radius: 5px;
	background: #FEBD39;
	position: absolute;
	cursor: pointer;
	right: 0;
	outline: none;
}
.contact-form span {
	margin-right: 20px;
	font-size: 20px;
	text-transform: uppercase;
}
.contacts-link {
	width: 100%;
	height: 200px;
	border-radius: 5px;
	background-color: #FEBD39;
	margin-top: 50px;
	padding: 20px;
}
.contacts-link span {
	font-size: 20px;
	color: #000;
	padding-bottom: 40px;
	display: block;
}
.contact-list li{
	margin-bottom: 20px;
}
.contact-list li a{
	font-size: 18px;
	margin-left: 10px;
	color: black;
	text-decoration:underline ;	
}
.about {
	max-width: 1200px;
	text-transform: uppercase;
}
.about-text {
	display: flex;
	justify-content: space-between;
	text-align: justify;
	padding: 20px;
}
.about-text p{
	max-width: 350px;
	margin-right: 15px;
	line-height: normal;
}
.main__tittle p {
	max-width: 420px;
	text-align: justify;
	margin: 15px auto;
	line-height: normal;
}
.main__tittle a {
	width:100%;
	padding: 15px;
	background-color: #FEBD39;
	display: block;
	font-weight: 600;
	text-transform: uppercase;
	color: #fff;
	opacity: 0.6;
	border-radius: 5px;
}
.main__tittle a:hover {
	opacity: 1;
	
}
.main-items__list {
	display: flex;
	justify-content: space-between;
	color: red;
	padding: 40px;
}
.main-list li a {
	font-size: 18px;
	color: #000;
	margin-left: 5px;
	margin-bottom: 15px;
	font-weight: 600;
	line-height: normal;
}
/*блок с картой*/
.map {
	background-color: #EFEEEC;
}
/*footer*/
.footer {
	padding: 25px 0;
	background-color: black;
	color: chocolate;
}
.footer-list {
	display: flex;
	justify-content: center;
	margin: 15px 0;
}
.footer-list li {
	margin-right: 10px;
	text-transform: lowercase;
}
.footer-list li a {
	color: #aaa;
	padding-left: 5px;
}
.copyright {
	text-align: center;
	max-width: 600px;
	margin: 10px auto;
}
.tel{
	display: flex;
	justify-content: center;
}
.tel i {
	display:flex;
	justify-content: center;
	margin-right: 5px;
}
.tel a {
	color: #ccc;
}
/*медиа запросы*/
@media (max-width:1240px){
	.main__image img{
		width: 390px;
	}
	.main-about {
		margin-top: 25px;
  }
}
@media (max-width:1100px) {
	.burger-menu{
		display: block;
		position: absolute;
		z-index: 3;
		right: 20;
	}
	.header-list{
		display: none;
   position: absolute;
   top: 100px;
		left: 0;
		right: 0;
		width: 100%;
		text-align: center;
		z-index: 5;
	border-top: 2px solid #000;
	}
	.header-list li {
		border-bottom: 2px solid #000;
		text-align: center;
		padding: 20px 0;
		background-color: #FEBD39;
		
	}
	.header-list li a {
		color: #fff;
	}
	.header-btn {
		margin-right: 100px;
	}
	.header-logo a img {
		margin-left: 15px;
	}
}
@media (max-width:943px){
	.main__image img{
		width: 375px;
	}
	.main__tittle h1 {
		font-size: 36px;
		margin-bottom: 28px;
}
.main__tittle h2 {
	font-size: 24px;
	}
	.about-text {
		flex-wrap: wrap;
	}
	.about-text p{
		margin-bottom: 10px;
	}
	.main-about {
		padding: 15px 0;
	}
	.main__tittle h1 {
		font-size: 24px;
		
  }
}
@media (max-width:903px){
	.main-items__list {
		display: flex;
		justify-content: space-between;
		color: red;
		padding: 15px;
	}
	.main-list li a {
		font-size: 15px;
		color: #000;
		margin-left: 5px;
		margin-bottom: 15px;
		font-weight: 400;
		line-height: normal;
  }
}
@media (max-width:835px){
	.contact-form span {
		margin-bottom: 3px;
		display: block;
  }
  .main-contacts{
	  margin-top: 30px;

  }

}
@media (max-width:768px){
	.main__image img{
		width: 319px;
	}
	.main-items__list{
		flex-wrap: wrap;
	}
	.main-list {
		width: 50%;
		margin-bottom: 20px;
		
	}
	.main__tittle h1 {
		font-size: 24px;
		margin-bottom: 10px;
  }
  .main__tittle h2 {
	font-size: 18px;
	padding-bottom: 10px;
}
.main__tittle p {
	font-size: 14px;
}
}
@media (max-width:654px){
	.about-content{
		flex-wrap: wrap;
		justify-content: center;
	}
	.about-content .about-text p {
		max-width: 654px;
	}
}
@media (max-width:614px){
	
	.footer-list {
		flex-wrap: wrap;
		margin: 0 auto;
		max-width: 320px;
		padding: 5px;
	}
	.footer-list li {
		margin-bottom: 10px;
		
	}
	.contact-form input {
		width: 320px;
  }
}
@media (max-width:564px){
	.main__tittle h1 {
		font-size: 20px;
		
  }
  .main__tittle h2 {
	font-size: 16px;
	
}.main-list {
	width: 100%;
	
	
}
.main-items__list {
	max-width: 400px;
	margin: 0 auto;
}
.main__image img {
	width: 215px;
}
}
@media (max-width:505px){
	.header-logo a img {
		max-width: 245px;
  }
  .container {
	padding: 0px 5px;
	}
	.header-btn {
		margin-right: 0px;
  }
  .header {
	height: 70px;
	}
	.header-list {
		top: 70px;
	}
	.header-list li {
		
		padding: 10px 0;
	}
}
@media (max-width:440px){
	.main__tittle {
		width: 100%;
	}
	.main-content {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		align-items: center;
  }
}
@media (max-width:416px){
	.header-logo a img {
		margin-left: 30px;

  	}
  .header {
	height: 50px;
	}
	.header-logo a img {
		max-width: 160px;
  }
  .login {
	font-weight: 400;
	padding: 3px 20px;
	}
	.header-list {
		top: 50px;
	}
	.header-list li {
		
		padding: 10px 0;
	}
	.contact-form input {
		width: 260px;
		
  }
  .contacts-link {
	width: 100%;
	height: 170px;
	margin-top: 25px;

}
.main-contacts {
	padding: 10px;
}
}